 .achievements {
    padding: 8% 20px;
    position: relative;
    overflow: hidden;
  }
  
  .achievement-section-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: white;
  }
  
  .achievement-section-title::after {
    content: '';
    width: 90px;
    height: 4px;
    background-color: #007BFF;
    display: block;
    margin: 10px auto;
    border-radius: 2px;
  }
  
  .achievement-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  
  .achievement-item {
    display: flex;
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    max-width: 800px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .achievement-photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .achievement-photo img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
  }
  
  .achievement-photo img:hover {
    transform: scale(1.05);
  }
  
  .achievement-details {
    flex: 2;
  }
  
  .achievement-title {
    font-size: 1.8rem;
    color: #007BFF;
    margin-bottom: 10px;
    position: relative;
  }
  
  .achievement-title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 475px;
    height: 3px;
    background-color: #007BFF;
    border-radius: 2px;
  }
  
  .achievement-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .achievement-list {
    list-style: none;
    padding: 0;
    color: #333;
  }
  
  .achievement-list li {
    font-size: 0.9rem;
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
  }
  
  .achievement-list li::before {
    content: '✔';
    color: #007BFF;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .social-buttons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
  
  .socialmedia-button {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .socialmedia-button:hover {
    background-color: #0056b3;
  }
  
  .social-icon {
    margin-right: 10px;
    font-size: 1.2rem;
  }
  
  .background-icon {
    position: absolute;
    color:#5C526E;
    font-size: 3.5rem;
    z-index: 0;
  }
  
  .star-icon {
    top: 35%; 
    left: 6%;
    animation: move 5s linear infinite;
  }
  
  .rocket-icon {
    bottom: -2%;
    right: 5%;
    animation: move 15s linear infinite;
  }
  
  .plus-icon {
    top: -20%;
    left: 90%;
    transform: translate(-50%, -50%);
    animation: rotate 5s linear infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(20px, -20px);
    }
    50% {
      transform: translate(-20px, 20px);
    }
    75% {
      transform: translate(20px, 20px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media (min-width: 768px) and (max-width: 992px) {
    .achievement-item {
      flex-direction: column;
      width: 95%;
      height: auto;
      padding: 15px;
      justify-content: center;
      margin-bottom: 25px;
    }
  
    .achievement-title {
      font-size: 1.5rem;
      color: #007BFF;
      margin-bottom: 15px;
    }
  
    .achievements {
      margin-top: 70px;
    }
  
    .achievement-title::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 250px;
      height: 3px;
      background-color: #007BFF;
      border-radius: 2px;
    }
  
    .achievement-photo {
      margin-bottom: 15px;
      width: 100%;
    }
  
    .achievement-details {
      text-align: center;
    }
  
    .achievement-description {
      font-size: 1rem;
      color: #555;
      margin-bottom: 15px;
      line-height: 1.6;
    }
  
    .achievement-list {
      text-align: left;
    }
  
    .achievement-list li {
      font-size: 1rem;
    }
  
    .social-buttons {
      justify-content: center;
    }
  
    .background-icon {
      position: absolute;
      color: #5C526E;
      font-size: 3rem;
      z-index: 0;
    }
  
    .star-icon {
      top: 30%;
      left: 10%;
      animation: move 8s linear infinite;
    }
    
    .rocket-icon {
      bottom: 5%;
      right: 10%;
      animation: move 12s linear infinite;
    }
  
    .plus-icon {
      top: 5%;
      left: 85%;
      animation: rotate 3s linear infinite;
    }
  }
  
  @media(max-width: 550px){
    .achievement-item{
      width: 95%;
      height: auto;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    .achievement-title {
      font-size: 1rem;
      color: #007BFF;
      margin-bottom: 10px;
      position: relative;
    }

    .achievement-content{
      padding-top: 18px;
    }
    
    .achievements{
      margin-top: 60px;
    }
    
    .achievement-title::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 260px;
      height: 3px;
      background-color: #007BFF;
      border-radius: 2px;
    }
    
    .background-icon {
      position: absolute;
      color: #5C526E;
      font-size: 3rem;
      z-index: 0;
    }
  
    .star-icon {
      top: -14%;
      left: 3%;
      animation: move 8s linear infinite;
    }
    
    .rocket-icon {
      bottom: -8%;
      right: 20%;
      animation: move 12s linear infinite;
    }
  
    .plus-icon {
      top: -20%;
      left: 85%;
      animation: rotate 4s linear infinite;
    }
  }
  
  @media(max-width: 375px){
    .achievement-item{
      width: auto;
      height: auto;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }

    .achievement-title {
      font-size: 1.1rem;
      color: #007BFF;
      margin-bottom: 10px;
      position: relative;
    }

    .achievement-content{
      padding-top: 18px;
    }
    
    .achievements{
      margin-top: 60px;
    }
    
    .achievement-title::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 290px;
      height: 3px;
      background-color: #007BFF;
      border-radius: 2px;
    }
    
    .background-icon {
      position: absolute;
      color: #5C526E;
      font-size: 2rem;
      z-index: 0;
    }
  
    .star-icon {
      top: -8%;
      left: 10%;
      animation: move 8s linear infinite;
    }
    
    .rocket-icon {
      bottom: -3%;
      right: 20%;
      animation: move 12s linear infinite;
    }
  
    .plus-icon {
      top: -8%;
      left: 85%;
      animation: rotate 4s linear infinite;
    }
  }
  