.memories-friends-section {
  position: relative;
  width: 100%;
  padding-top: 120px;
  height: auto;
  overflow: hidden;
}

.title,
.friends-title,
.travel-title {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 3px;
  margin-bottom: 20px;
}

.orange {
  color: orange;
  font-size: 3.5rem;
}

.green {
  font-size: 3.5rem;
  color: green;
}

.white {
  font-size: 3.5rem;
  color: white;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 80%;
}

.video-container {
  position: relative;
  width: 50%;
  height: 500px;
  padding-left: 20px;
  overflow: hidden;
}

.video-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top-video {
  clip-path: polygon(115% 0, 0% 87%, 0 0);
  z-index: 0;
}

.bottom-video {
  clip-path: polygon(0 87%, 114% 0, 100% 100%);
  z-index: 0;
}

.text-container {
  width: 50%;
  padding: 30px;
  font-family: fantasy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.friends-content-container,
.india-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.friends-text-container,
.india-text-container,
.friends-photo-container,
.india-photo-container {
  width: 60%;
  padding: 20px;
}

.friends-photo-container,
.india-photo-container {
  display: flex;
  width: 40%;
  justify-content: center;
}

.friend-photo {
  width: 70%;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.friend-photo:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(202, 190, 190, 0.795);
}

.friends-text-container {
  font-family: cursive;
  font-size: 2rem;
  color: white;
  text-align: left;
}

.india-text-container {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4rem;
  color: white;
}

.friends-title span {
  display: inline-block;
  font-family: "Times New Roman", Times, serif;
  padding: 0 5px;
  position: relative;
}

.friends-title .f {
  transform: rotate(-5deg);
  color: #ff6347;
}

.friends-title .r {
  transform: rotate(5deg);
  color: #4682b4;
}

.friends-title .i {
  transform: rotate(-3deg);
  color: #32cd32;
}

.friends-title .e {
  transform: rotate(3deg);
  color: #ffd700;
}

.friends-title .n {
  transform: rotate(-2deg);
  color: #ff69b4;
}

.friends-title .d {
  transform: rotate(2deg);
  color: #1e90ff;
}

.friends-title .s {
  transform: rotate(-1deg);
  color: #ff4500;
}

.travel-details {
  font-size: 1.2rem;
  color: #ddd;
  margin-top: 10px;
}

.travel-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.travel-text-container,
.travel-photo-container {
  width: 60%;
  padding: 20px;
}

.travel-photo-container-iit{
  width:50%
}

.travel-photo-iit{
  width: 60%;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.travel-photo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.travel-photo {
  width: 45%;
  margin: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.travel-photo:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(209, 199, 199, 0.897);
}

.travel-photo-iit:hover{
  width: 60%;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(209, 199, 199, 0.897);
}

.travel-text-container {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  color: white;
  text-align: left;
}

.credit-indian {
  font-size: 1rem;
  margin-top: 5px;
  text-align: center;
  color: white;
}

span a {
  color: skyblue;
  text-decoration: none;
}

span a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .orange,
  .green,
  .white {
    font-size: 3rem;
    font-family: "Times New Roman", Times, serif;
  }

  .blog-post {
    width: 90%;
  }

  .content-container {
    flex-direction: column;
    height: auto;
  }

  .top-video {
    clip-path: polygon(115% 0, 0% 115%, 0 0);
    z-index: 0;
  }

  .bottom-video {
    clip-path: polygon(0 93%, 114% 0, 100% 100%);
    z-index: 0;
  }

  .video-container {
    width: 100%;
    height: 350px;
    padding-left: 0;
  }

  .text-container,
  .friends-text-container,
  .india-text-container,
  .friends-photo-container,
  .india-photo-container,
  .travel-text-container,
  .travel-photo-container {
    width: 100%;
    padding: 15px;
    font-size: 1.1rem;
    font-family: "Times New Roman", Times, serif;
  }

  .friend-photo,
  .travel-photo {
    width: 100%;
  }

  .travel-photo-container {
    flex-direction: column;
  }

  .friends-text-container {
    font-size: 1.7rem;
  }

  .india-text-container {
    font-size: 1.4rem;
  }

  .travel-text-container {
    font-size: 1.5rem;
  }
}

@media (max-width: 375px) {
  .orange,
  .green,
  .white {
    font-size: 2.5rem;
    font-family: "Times New Roman", Times, serif;
  }

  .content-container {
    flex-direction: column;
  }

  .top-video {
    clip-path: polygon(111% 0, 0% 92%, 0 0);
    z-index: 1;
  }

  .bottom-video {
    clip-path: polygon(0 92%, 110% 0, 100% 100%);
    z-index: 1;
  }

  .video-container {
    width: 100%;
    height: 250px;
    padding-left: 0;
  }

  .text-container,
  .friends-text-container,
  .india-text-container,
  .friends-photo-container,
  .india-photo-container,
  .travel-text-container,
  .travel-photo-container {
    width: 100%;
    padding: 10px;
    font-size: 0.1rem;
    font-family: "Times New Roman", Times, serif;
  }

  .friend-photo,
  .travel-photo {
    width: 100%;
  }

  .travel-photo-container {
    flex-direction: column;
  }

  .friends-text-container {
    font-size: 1.5rem;
  }

  .india-text-container {
    font-size: 1.2rem;
  }

  .travel-text-container {
    font-size: 1.3rem;
  }

  .blog-title {
    font-size: 2rem;
  }

  .blog-post {
    width: 90%;
  }
}
