/* ================= HEADER ================= */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 3px 0px;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

/* Light Theme Header */
body.light .header::before {
  background-color: #ffffff;
}

/* Dark Theme Header */
body.dark .header::before {
  background-color: #111827;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  z-index: -1;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #a855f7;
  transition: height 0.3s ease;
}

.header.scrolled::before {
  backdrop-filter: blur(4px);
}

.header.scrolled::after {
  height: 1px;
}

/* ================= NAV ================= */

nav {
  font-size: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  max-width: 1200px;
}

/* Text color based on theme */
body.light nav ul li a {
  color: #111827;
}

body.dark nav ul li a {
  color: white;
}

nav .left {
  width: 8%;
  display: flex;
  align-items: center;
}

.yplogo {
  width: 100%;
}

nav .right {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0px 22px;
  position: relative;
}

nav ul li a {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav ul li a .nav-icon {
  margin-right: 8px;
}

/* Hover Line */
nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  border-radius: 30px;
  height: 3.5px;
  background-color: #a855f7;
  transition: width 0.3s ease-in-out;
  width: 0;
}

nav ul li a:hover::before,
nav ul li a.active::before {
  width: 100%;
  height: 4px;
}

/* ================= DROPDOWN ================= */

.dropdown {
  position: relative;
}

/* Light dropdown */
body.light .dropdown-menu {
  background-color: #ffffff;
}

/* Dark dropdown */
body.dark .dropdown-menu {
  background-color: #111827;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 0;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu li a {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body.light .dropdown-menu li a:hover {
  background-color: #f0f0f0;
}

body.dark .dropdown-menu li a:hover {
  background-color: #333;
}

/* ================= TOGGLE ================= */

.toggle-btn {
  position: relative;
  width: 90px;
  height: 40px;
  padding: 5px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s;
  margin-left: 20px;
}

/* Light toggle */
body.light .toggle-btn {
  background-color: #f0f0f0;
}

/* Dark toggle */
body.dark .toggle-btn {
  background-color: #4a4a4a;
}

.toggle-btn .toggle-thumb {
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  transition: left 0.3s, background-color 0.3s;
}

/* Light thumb */
body.light .toggle-thumb {
  background-color: #111827;
}

/* Dark thumb */
body.dark .toggle-thumb {
  left: calc(100% - 37px);
  background-color: #f0f0f0;
}

.toggle-btn .sun-icon,
.toggle-btn .moon-icon {
  position: absolute;
  font-size: 1.5rem;
  transition: opacity 0.3s;
}

.toggle-btn .sun-icon {
  left: 5px;
}

.toggle-btn .moon-icon {
  right: 3px;
}

body.light .moon-icon {
  opacity: 0;
}

body.dark .sun-icon {
  opacity: 0;
}

/* ================= MOBILE ================= */

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1001;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
    padding: 0 20px;
  }

  nav .left {
    width: 20%;
  }

  nav .right {
    position: fixed;
    top: 0;
    right: -100%;
    height: max-content;
    width: 70%;
    max-width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: right 0.3s ease-in-out;
    z-index: 999;
  }

  body.light nav .right {
    background-color: #ffffff;
    color: #111827;
  }

  body.dark nav .right {
    background-color: black;
    color: white;
  }

  nav .right.open {
    right: 0;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 20px 0;
  }

  .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
  }

  .toggle-btn {
    margin-top: 10px;
  }
}